/* Document Responsive Typography */
*,
*::before,
*::after {
    box-sizing: border-box;
}

::before,
::after {
    text-decoration: inherit;
    vertical-align: inherit;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tab-size: 4;
    -ms-text-size-adjust: 100%;
    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    text-rendering: optimizeLegibility;
    cursor: default;
}

/* Page Sectioning (Containers) */
main {
    display: block;
}

body {
    width: 100%;
    margin: 0;
}

body > header,
body > main,
body > footer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: var(--section-spacing-vertical) 0;
}

/* Containers */
.container,
.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--spacing);
    padding-left: var(--spacing);
}

@media (min-width: 576px) {
    .container {
        max-width: 510px;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 920px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1130px;
    }
}

/* Containers */
.container,
.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--spacing);
    padding-left: var(--spacing);
}

@media (min-width: 576px) {
    .container {
        max-width: 510px;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 920px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1130px;
    }
}

/* Section Responsive Spacing */
section {
    margin-bottom: var(--section-spacing-vertical)
}

/* One Row Grid */
.grid {
    grid-column-gap: var(--grid-spacing-horizontal);
    grid-row-gap: var(--grid-spacing-vertical);
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
}

@media (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
    }
}

.grid > * {
    min-width: 0;
}

/* Typography */

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: var(--typography-spacing-vertical);
    color: var(--color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

h1 {
    --color: var(--h1-color);
}

h2 {
    --color: var(--h2-color);
}

h3 {
    --color: var(--h3-color);
}

h4 {
    --color: var(--h4-color);
}

h5 {
    --color: var(--h5-color);
}

h6 {
    --color: var(--h6-color);
}

blockquote ~ h1,
blockquote ~ h2,
blockquote ~ h3,
blockquote ~ h4,
blockquote ~ h5,
blockquote ~ h6,
ol ~ h1,
ol ~ h2,
ol ~ h3,
ol ~ h4,
ol ~ h5,
ol ~ h6,
p ~ h1,
p ~ h2,
p ~ h3,
p ~ h4,
p ~ h5,
p ~ h6,
pre ~ h1,
pre ~ h2,
pre ~ h3,
pre ~ h4,
pre ~ h5,
pre ~ h6,
ul ~ h1,
ul ~ h2,
ul ~ h3,
ul ~ h4,
ul ~ h5,
ul ~ h6 {
    margin-top: var(--typography-spacing-vertical);
}

/* Heading Group */
hgroup {
    margin-bottom: var(--typography-spacing-vertical);
}

hgroup > * {
    margin-bottom: 0;
}

hgroup > *:last-child {
    --color: var(--muted-color);
    --font-weight: unset;
    font-family: unset;
    font-size: 1rem;
}

/* Links */
a {
    --color: var(--primary);
    --background-color: transparent;
    outline: none;
    background-color: var(--background-color);
    color: var(--color);
    text-decoration: var(--text-decoration);
    transition: background-color var(--transition),
                color var(--transition),
                text-decoration var(--transition),
                box-shadow var(--transition);
}

a:hover,
a:active,
a:focus {
    --color: var(--primary-hover);
    --text-decoration: underline;
}

a:focus {
    --background-color: var(--primary-focus);
}

a.secondary {
    --color: var(--secondary);
}

a.secondary:hover,
a.secondary:active,
a.secondary:focus {
    --color: var(--secondary-hover);
}

a.secondary:focus {
    --background-color: var(--secondary-focus);
}

a.contrast {
    --color: var(--contrast);
}

a.contrast:hover,
a.contrast:active,
a.contrast:focus {
    --color: var(--contrast-hover);
}

a.contrast:focus {
    --background-color: var(--contrast-focus);
}

/* Lists */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
    margin: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin: 0;
}

ul,
ol {
    padding-left: var(--spacing);
}

ul li,
ol li {
    margin-bottom: calc(var(--typography-spacing-vertical) / 4);
}

ul li {
    list-style: square;
}

/* Base Text Style for new sections */
blockquote,
dl,
ol,
p,
pre,
ul {
    margin-top: 0;
    margin-bottom: var(--typography-spacing-vertical);
    color: var(--color);
    font-size: 1rem;
    font-style: normal;
}

p {
    margin-bottom: var(--typography-spacing-vertical);
}

/* Images & SVG icons */
img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

svg:not([fill]) {
    fill: currentColor;
}

svg:not(:root) {
    overflow: hidden;
}

/* Font Weight (<b> & <strong>) */
b,
strong {
    font-weight: bolder;
}

/* Buttons */
button {
    margin: 0;
    overflow: visible;
    font-family: inherit;
    text-transform: none;
}

button,
[type="button"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

button {
    display: block;
    width: 100%;
    margin-bottom: var(--spacing);
}

button,
input[type="submit"],
input[type="button"] {
    --background-color: var(--primary);
    --border-color: var(--primary);
    --color: var(--primary-inverse);
    --box-shadow: var(--button-box-shadow, rgba(0, 0, 0, 0));
    padding: var(--element-spacing-vertical) var(--element-spacing-horizontal);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    outline: none;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    color: var(--color);
    font-size: 1rem;
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    text-align: center;
    cursor: pointer;
    transition: background-color var(--transition), border-color var(--transition), color var(--transition), box-shadow var(--transition);
}

button:hover, button:active, button:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
    --background-color: var(--primary-hover);
    --border-color: var(--primary-hover);
    --box-shadow: var(--button-hover-box-shadow, rgba(0, 0, 0, 0));
}

/* Secondary button */
button.secondary,
input[type="submit"].secondary,
input[type="button"].secondary {
    --background-color: var(--secondary);
    --border-color: var(--secondary);
    --color: var(--secondary-inverse);
    cursor: pointer;
}

button.secondary:hover, button.secondary:active, button.secondary:focus,
input[type="submit"].secondary:hover,
input[type="submit"].secondary:active,
input[type="submit"].secondary:focus,
input[type="button"].secondary:hover,
input[type="button"].secondary:active,
input[type="button"].secondary:focus {
    --background-color: var(--secondary-hover);
    --border-color: var(--secondary-hover);
}

button.secondary:focus,
input[type="submit"].secondary:focus,
input[type="button"].secondary:focus {
    --box-shadow: var(--button-hover-box-shadow, rgba(0, 0, 0, 0)), 0 0 0 var(--outline-width) var(--secondary-focus);
}

button:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
    --box-shadow: var(--button-hover-box-shadow, rgba(0, 0, 0, 0)), 0 0 0 var(--outline-width) var(--primary-focus);
}

/* Contrast Button */
button.contrast,
input[type="submit"].contrast,
input[type="button"].contrast {
    --background-color: var(--contrast);
    --border-color: var(--contrast);
    --color: var(--contrast-inverse);
}

button.contrast:hover, button.contrast:active, button.contrast:focus,
input[type="submit"].contrast:hover,
input[type="submit"].contrast:active,
input[type="submit"].contrast:focus,
input[type="button"].contrast:hover,
input[type="button"].contrast:active,
input[type="button"].contrast:focus {
    --background-color: var(--contrast-hover);
    --border-color: var(--contrast-hover);
}

button.contrast:focus,
input[type="submit"].contrast:focus,
input[type="button"].contrast:focus {
    --box-shadow: var(--button-hover-box-shadow, rgba(0, 0, 0, 0)), 0 0 0 var(--outline-width) var(--contrast-focus);
}

button[disabled],
input[type="submit"][disabled],
input[type="button"][disabled] {
    opacity: .5;
    pointer-events: none;
}

/* Accordion */
details {
    display: block;
    margin-bottom: var(--spacing);
    padding-bottom: calc(var(--spacing) / 2);
    border-bottom: var(--border-width) solid var(--accordion-border-color);
}

details summary {
    color: var(--accordion-close-summary-color);
    line-height: 1rem;
    list-style-type: none;
    cursor: pointer;
    transition: color var(--transition);
}

details summary::-webkit-details-marker {
    display: none;
}

details summary::marker {
    display: none;
}

details summary::-moz-list-bullet {
    list-style-type: none;
}

details summary::after {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    float: right;
    transform: rotate(-90deg);
    background-image: var(--icon-chevron);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem auto;
    content: '';
    transition: transform var(--transition);
}

details summary:focus {
    outline: none;
    color: var(--accordion-active-summary-color);
}

details summary ~ * {
    margin-top: calc(var(--spacing) / 2);
}

details summary ~ * ~ * {
    margin-top: 0;
}

details[open] > summary {
    margin-bottom: calc(var(--spacing) / 4);
}

details[open] > summary:not(:focus) {
    color: var(--accordion-open-summary-color);
}

details[open] > summary::after {
    transform: rotate(0);
}

/* Article / Cards */
article {
    margin: var(--section-spacing-vertical) 0;
    padding: var(--section-spacing-vertical) var(--section-spacing-horizontal);
    overflow: hidden;
    border-radius: var(--border-radius);
    background: var(--card-background-color);
    box-shadow: var(--card-box-shadow);
}

article > header,
article > footer,
article > pre {
    margin-right: calc(var(--section-spacing-horizontal) * -1);
    margin-left: calc(var(--section-spacing-horizontal) * -1);
    padding: calc(var(--section-spacing-vertical) / 1.5) var(--section-spacing-horizontal);
    background-color: var(--card-sectionning-background-color);
}

article > header {
    margin-top: calc(var(--section-spacing-vertical) * -1);
    margin-bottom: var(--section-spacing-vertical);
    border-bottom: var(--border-width) solid var(--card-border-color);
}

article > footer,
article > pre {
    margin-top: var(--section-spacing-vertical);
    margin-bottom: calc(var(--section-spacing-vertical) * -1);
    border-top: var(--border-width) solid var(--card-border-color);
}

/* Navigation */
nav,
nav ul {
    display: flex;
}

nav {
    justify-content: space-between;
}

nav ol,
nav ul {
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

nav ol:first-of-type,
nav ul:first-of-type {
    margin-left: calc(var(--spacing) * -0.5);
}

nav ol:last-of-type,
nav ul:last-of-type {
    margin-right: calc(var(--spacing) * -0.5);
}

nav li {
    display: inline-block;
    margin: 0;
    padding: var(--spacing) calc(var(--spacing) / 2);
}

nav li > *,
nav li > input:not([type="checkbox"]):not([type="radio"]) {
    margin-bottom: 0;
}

nav a {
    display: block;
    margin: calc(var(--spacing) * -1) calc(var(--spacing) * -0.5);
    padding: var(--spacing) calc(var(--spacing) / 2);
    border-radius: var(--border-radius);
    text-decoration: none;
}

nav a:hover, nav a:active, nav a:focus {
    text-decoration: none;
}

/* Extras */
header {
    text-align: center;
}

section details {
    text-align: center;
    display: flex;
    justify-content: center;
}

#jumbotron nav {
    justify-content: center;
    margin-block-end: 1rem;
}

#jumbotron nav ul li {
    margin-inline-end: 10px;
}
#projects a {
    color: inherit
}

#projects a:link {
    text-decoration: none;
}

#projects a:hover {
    text-decoration: none;
}

#projects a:active {
    text-decoration: none;
}

