/* Document Responsive Typography */
*,
*::before,
*::after {
    box-sizing: border-box;
}

::before,
::after {
    text-decoration: inherit;
    vertical-align: inherit;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tab-size: 4;
    -ms-text-size-adjust: 100%;
    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    text-rendering: optimizeLegibility;
    cursor: default;
}

/* Page Sectioning (Containers) */
main {
    display: block;
}

body {
    width: 100%;
    margin: 0;
}

body > header,
body > main,
body > footer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: var(--section-spacing-vertical) 0;
}

/* Containers */
.container,
.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--spacing);
    padding-left: var(--spacing);
}

@media (min-width: 576px) {
    .container {
        max-width: 510px;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 920px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1130px;
    }
}

/* Containers */
.container,
.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--spacing);
    padding-left: var(--spacing);
}

@media (min-width: 576px) {
    .container {
        max-width: 510px;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 920px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1130px;
    }
}

/* Section Responsive Spacing */
section {
    margin-bottom: var(--section-spacing-vertical)
}

/* One Row Grid */
.grid {
    grid-column-gap: var(--grid-spacing-horizontal);
    grid-row-gap: var(--grid-spacing-vertical);
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
}

@media (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
    }
}

.grid > * {
    min-width: 0;
}

/* Extras */
header {
    text-align: center;
}

section details {
    text-align: center;
    display: flex;
    justify-content: center;
}

#jumbotron nav {
    justify-content: center;
    margin-block-end: 1rem;
}

#jumbotron nav ul li {
    margin-inline-end: 10px;
}
#projects a {
    color: inherit
}

#projects a:link {
    text-decoration: none;
}

#projects a:hover {
    text-decoration: none;
}

#projects a:active {
    text-decoration: none;
}

